* {
  margin: 0;
  padding: 0;
}
#main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  /*
  display: -ms-grid;
  -ms-grid-columns: 3fr 1fr;
  */
  height: 100vh;
  overflow: hidden;
}
#control-panel {
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
}
#content {
  overflow: auto;
  padding: 2rem;
  line-height: 1.5;
}
select, button {
  height: 2rem;
  border-radius: none !important;
}
button {
  border: 1px solid lightgray;
  padding: 4px 8px;
  margin: 2px 0;
}
select:hover, button:hover {
  cursor: pointer;
}


@media (max-width: 1000px) {
 #main {
   grid-template-columns: 1fr;
   grid-template-rows: 5rem auto;
   /*
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 5rem auto;
  */
 }
 #control-panel {
  /* -ms-grid-row: 1/2; */
   grid-row: 1/2;
   flex-direction: row;
   background-color: lightyellow;
   /* justify-content: space-around; */
 }
 #content {
   /* -ms-grid-row: 2/3; */
   grid-row: 2/3;
 }
 .form-select {
   flex: 2;
 }
 .btn {
   flex: 1;
 }
 select, button {
  margin: 0;
}
}